ErrorDocument 404 /404.php
ErrorDocument 403 /403.php
ErrorDocument 500 /500.php

# AuthName "Attention pauvre fou ! Qui s'aventure en territoire interdit ?"
# AuthType Basic
# AuthUserFile "C:\Users\web-2\Documents\DEV\projets\ldc\data\user.authorize"
# Require valid-user

RewriteEngine On
RewriteBase /

# # Si le fichier ou le dossier n'existe pas , redirige vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# # Règles de réécriture d'URL :
# RewriteRule ^assets/(.+)$       assets/$1 [L]

# # Si l'URL correspond à /blog/something ou /article/123, autorisez-la
RewriteRule ^(mona|didier)$ index.php [L,QSA]
# RewriteRule ^(mona|didier|deco)/?[a-zA-Z0-9\-]*$ index.php [L,QSA]
